
    <header>
        <div class="headerContainer">
            <a href="/"><h1 class="logo">100 concepts</h1></a>
            <nav>
                <a href="/posts">Posts</a>
                <a href="/contact">Contact</a>
            </nav>
        </div>
    </header>