<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <div class="firstSection section">
        <h1><%= message %></h1>
    </div>
    <div class="secondSection section">
       <ul>
        <li>Email: azziesilas@gmail.com</li>
        <li>Phone: 509 9190 508</li>
        <li>Adress: 6654 thatStreet AVE</li>
       </ul>
    </div>
    <%- include('./partials/footer') %>
    
</body>
</html>