<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <div class="firstSection section">
        <h1><%= message %></h1>
    </div>
    <div class="secondSection section">
        <div class="blogPost">
            <h1>Blog Post</h1>
            <div class="blogGrid">
                <ul>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
    <%- include('./partials/footer') %>
    
</body>
</html>